@import url('https://fonts.googleapis.com/css?family=Lobster');

body {

    background-color: aqua;
    background-size: cover;
    font-family:monospace

}

.container {

    width: 500px;
    margin: 30px auto;
    background: rgba(255, 255, 255, .6);
    text-align: center;
    padding: 15px;

}

h1 {

    font-size: 3em;
}

#userinput {

    height: 2em;
    padding: 0 5px;

}

#enter {

    height: 2em;
    width: 6em;
    cursor: pointer;
    border-radius: 8px;
}

ul {

    list-style: none;
}

span {

    font-size: 2em;
    line-height: 2em;
    position: relative;

}

.done {
     background: #888;
    text-decoration: line-through;

}

.delete {

    border-radius: 35px;
    cursor: cell;
    opacity: 0;
    transition: opacity ease-in-out 500ms;

}

li:hover .delete {
    opacity: 1;

}

/* background-color on hover */
ul li:hover {
  background: #01DFD7;
}



